*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* generali */
a{
    text-decoration: none;
}

.fl-left{
    float: left;
}

.fl-right{
    float: right;
}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}

.divide{
    width: 40%;
    border: 1px solid #a3a3a3;
}

.flex-row{
    display:flex;
    flex-direction: row;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.align-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

/* background */
.bg-cy{
    background-color: #039CFF;
}

.bg-gr{
    background-color: #959595;
}

/* colors */
.cl-a3{
    color: #a3a3a3;
}

.cl-bk{
    color: #000;
}

.cl-wh{
    color: #fff;
}

.cl-cy{
    color: #039CFF;
}

.cl-mg{
    color: #E51A7C;
}
/* margins */
.mg-btm-50{
    margin-bottom: 50px;
}

.mg-btm-30{
    margin-bottom: 30px;
}

.mg-btm-20{
    margin-bottom: 20px;
}

.mg-btm-10{
    margin-bottom: 10px;
}

.mg-top-10{
    margin-top: 10px;
}
.mg-btm-5{
    margin-bottom: 5px;
}



/* symbols */
.arrowhead{
    font-size: 1.2em;
    color: #a3a3a3;
}

/* font-size */
.fsize-3{
    font-size: 3em;
}

.fsize-2{
    font-size: 2em;
}

.fsize-1-5{
    font-size: 1.5em;
}

.fsize-1-2{
    font-size: 1.2em;
}

.fsize-1-1{
    font-size: 1.1em;
}

.fsize-0-8{
    font-size: 0.8em;
}

/* font-weight */
.fw-bold{
    font-weight: bold;
}

.fw-400{
    font-weight: 400;
}

.fw-600{
    font-weight: 600;
}

.fw-300{
    font-weight: 300;
}

/* text */
.txt-uc{
    text-transform: uppercase;
}

.txt-ul{
    text-decoration: underline;
}

/* italic */
.fs-italic{
    font-style: italic;
}

/* banner */
.banner{
    text-align: center;
    font-size: 0.8em;
    font-weight: 400;
    height: 50px;
    line-height: 50px;
}

.banner.bnr-top{
    background-color: #94122e;
    color: #fff;
}

.banner.bnr-btm{
    background-color: #32C999;
    color: #000;
}

.banner span{
    text-decoration: underline;
    color: #ffd580;
}

/* jumbotron */
#jumbotron{
    width: 100%;
    font-weight: 300;
}

/* j-nav */
.jnav{
    font-weight: 400;
}

    /* j-nav top */
.jnav.top{
    background-color: #000;
    height: 50px;
}

.jnav.top .fas{
    margin:0px 10px;
}

.jnav.top ul{
    height: 100%;
    justify-content: flex-end;
    margin-right: 30px;
    list-style-type: none;
}

.jnav.top ul li{
    margin:0px 10px;
}

.jnav.top ul select{
    margin-left: 20px;
}

    /* j-nav top hover */
.jnav.top ul li:hover a{
    text-decoration: underline;
    color: #fff;
}


    /* j-nav bottom */

.jnav.btm{
    background-color: #000;
    gap: 50px;
    padding-left: 30px;
}

.jnav.btm ul{
    list-style-type: none;
    gap: 15px;
}

.jnav.btm ul li a{
    padding: 28px 18px;
    display: inline-block;
    font-size: 1.2em;
}

.jnav.btm .hamburger{
    display: none;
}

.jnav.btm .logo{
    display: inline-block;
}

    /* dropdown */
.dropdown{
    position: absolute;
    background-color: #fff;
    width: 300px;
    min-width: 300px;
    display: none;
}

.dropdown li:hover{
    background-color: #e6e6e6;
}

.dropdown ul li{
    justify-content: space-between;
    padding-right: 10px;
}

    /* dropright */
.dropright{
    width: 650px;
    min-width: 650px;
    position: absolute;
    left: 300px;
    top: 0;
    background-color: #e6e6e6;
    display: none;
}

.dropright li:hover{
    background-color: #a3a3a3;
}

.dropright span{
    padding: 18px;
    display: inline-block;
}

hr{
    border-top: 0.2px solid #a3a3a3;
}

.dropright.scn{
    top:82px;
}

.dropright.trd{
    top: 165px;
}

    /* j-nav btm hover */
.jnav.btm > ul > li:hover{
    background-color: #fff;
}

.jnav.btm > ul > li:hover a{
    color: #000;
}

.jnav.btm > ul > .drop:hover .dropdown{
    display: block;
}

.jnav.btm .drop .drops:hover .dropright{
    display: block;
}


/* jumbomain */
#jumbotron .jumbomain{
    background-color: #0D0B25;
    width: 100%;

}

#jumbotron .jumbomain > div{
    width: 50%;
}



    /* jumbomain img */
#jumbotron .jumbomain .jmain-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

    /* jumbomain info */
#jumbotron .jumbomain .jmain-info{
    padding: 30px 50px;
}

    /* jumbomain info try */
#jumbotron .jumbomain .jinfo-try{
    border-bottom: 1px solid #a3a3a3;
    line-height: 40px;
}

#jumbotron .jmain-info .jinfo-try .try-btn{
    align-items: center;
    gap: 20px;
}

    /* jinfo-try hover */
#jumbotron .jmain-info .jinfo-try .try-btn button:hover{
    filter: opacity(0.8);
}

#jumbotron .jmain-info .jinfo-try .try-btn button{
    padding: 12px 40px;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    border: 2px solid #fff;
    cursor: pointer;
}

#jumbotron .jmain-info .jinfo-try .try-btn img{
    width: 15%;
    height: 15%;
}

    /* jumbomain info plans */
#jumbotron .jinfo-plans .jplans-btn button{
    width: calc(100% / 2 - 5px);
    padding: 20px;
    height: 100px;
    display: inline-block;
    border: 1px solid #a3a3a3;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}

#jumbotron .jinfo-plans .jplans-btn button:first-child{
    background-color: #213942;
    border: 2px solid #039CFF ;
}

    /* jinfo plans hover */
#jumbotron .jplans-opt >a:hover{
    text-decoration: underline;
}

#jumbotron .jplans-btn button:nth-child(2):hover{
    border: 2px solid #eee;
}

    /* jumbomain info buy */
#jumbotron .jinfo-buy > div{
    width: 50%;
}

#jumbotron .jinfo-buy .left-buy button{
    padding: 8px 20px;
    background-color: #039CFF;
    border: none;
    text-transform: uppercase;
    font-size: 1.2em;
    color: #fff;
    cursor: pointer;
}

#jumbotron .jinfo-buy .right-buy{
    padding: 20px;
}

#jumbotron .jinfo-buy .right-buy button{
    background-color: transparent;
    border: none;
    border-left: 1px solid #a3a3a3;
    text-align: left;
    cursor: pointer;
    padding: 10px;
}

/* jinfo btn hover */
#jumbotron .jinfo-buy .left-buy button:hover{
    filter: opacity(0.8);
}

#jumbotron .jinfo-buy .left-buy a:hover, #jumbotron .jinfo-buy .right-buy a:hover{
    text-decoration: underline;
}

    /* banner btn hover */
.banner.bnr-btm a:hover{
    text-decoration: none;
}

/* main */

.section-container{
    width: 85%;
    margin: auto;
}

/* header */
header{
    background-color: #e6e6e6;
    padding: 0px 0px 0px 10px;
    top: 0;
    position: sticky;
    z-index: 999;
    overflow: hidden;
}

    /* header media */
#header-media{
    display: none;
}

    /* header nav */
header nav ul {
    list-style-type: none;
}

header nav ul li:nth-child(1) a{
    border-bottom: 3px  solid black;
}

header nav ul li a{
    border-bottom: 3px solid transparent;
}

header nav ul li a{
    display: inline-block;
    padding: 25px;
    font-size: 1.5em;
}

    /* header button */
header button{
    display: inline-block;
    padding: 25px;
    font-size: 1.5em;
    border: none;
    border-bottom: 3px solid #039CFF;
}

/* header hover  */
header nav ul li a:hover{
    background-color: #eee;
}

header button:hover{
    filter: opacity(0.8);
}

/* main astronaut */
main #astronaut{
    width: 100%;
    background-color: #BD5651;
    font-weight: 300;
}

main .boh{
    height: 20px;
    width: 100%;
}
/* non so perché mi crea una spaziatura strana altrimenti */
main .astronaut-txt{
    padding: 80px 60px;
    text-align: center;
    width: 60%;
    margin: auto;
}

main .astronaut-img{
    height: 70%;
    position: relative;
}

main .astronaut-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
}

main .astronaut-img .far.fa-play-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15em;
    opacity: 0.5;
    background-color: #0D0B25;
    border-radius: 50%;
    transition: all 0.5s;
}

    /* astronaut hover  */
main .astronaut-img .far.fa-play-circle:hover{
    font-size: 18em;
}

/* main first */
#first{
    width: 100%;
    background-color: #000;
    padding: 40px;
}


#first .section-container > div{
    width: calc(100% / 3 - 10px);
    margin: 0px 5px;
    align-items: center;
    text-align: center;
    padding: 40px;
}

#first .section-container > div img{
    width: 40%;
}

    /* first hover */
#first .collab p span:hover{
    text-decoration: none;
}

/* main second */
#second{
    text-align: center;
    padding: 50px 20px;
    background-color: #efefef;
}

#second h2, #second p{
    padding: 20px;
}

#second .row-tool{
    justify-content: space-between;
    border-bottom: 1px solid #a3a3a3;
}

#second .tool{
    align-items: center;
    position: relative;
    color: black;
    padding: 10px;
}

#second .tool:first-child::after{
    content: "";
    width: 100%;
    border: 3px solid green;
    position: absolute;
    bottom: -4px;
}

#second .tool img{
    width: 50%;
}

#second .second-img{
    border: 30px solid #000;
    border-radius: 20px;
}

#second .second-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(1.02);
}

#second button{
    border:none;
    padding: 10px 35px;
    cursor: pointer;
}

main #second .second-media-row{
    display: none;
}

    /* second hover */
#second .tool:not(:first-child):hover span{
    color: #000;
}

#second button:hover{
    filter: opacity(0.8);
}

/* third */
#third{
    padding: 40px 0px;
}

#third .section-container{
    background-image: url(../img/3/branding.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 70px;
}

#third .third-txt{
    width: 30%;
    padding: 20px 5px;
}


#third .third-txt div::before{
    content: "";
    border: 1px solid #a3a3a3;
    margin-bottom: 40px;
    margin-top: 10px;
    display: block;
}

#third .third-txt .third-p-fr{
    display: block;
}

#third .third-txt p{
    display: none;
    padding: 20px;
}

main #third .media-third-img{
    display: none;
}

    /* third hover */
#third .third-txt .txt-drop:hover + p{
    display: block;
}

/* fourth */
#fourth {
    text-align: center;
}

#fourth .fourth-row, #six .six-row{
    flex-wrap: wrap;
}

#fourth .fourth-row .fourth-img, #six .six-row .six-img{
    width: calc(100% / 4);
    padding: 20px;
    text-align: center;
}

#fourth .fourth-img img{
    width: 80%;
}

/* fifth */
#fifth{
    width: 100%;
    background-color: #F99633;
    text-align: center;
}

#fifth .section-container{
    align-items: center;
    padding: 80px;
    gap: 30px;
}

#fifth .fas{
    margin: 0px 30px;
}

#fifth button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    align-items: center;
}

#fifth img{
    width: 30%;
}

    /* fifth hover */
#fifth button > a:hover{
    text-decoration: underline;
}

/* six */
#six .section-container{
    padding: 80px 0px ;
}

#six .six-txt{
    text-align: center;
}

#six .six-img img{
    width: 40%;
}

#six p{
    padding: 10px 60px;
}

.overlay{
    display: none;
}

.query-drop{
    display: none;
}



/* 767 primo step */
/* 500 secondo step */
@media  screen and (max-width:767px) {

    .jnav.btm{
        flex-wrap: wrap;
        gap: 0px;
    }

    .jnav.btm:hover .query-drop{
        display: block;
    }

    /* jnav btm query dropdown */
    .query-drop{
        width: 100%;
    }

    .query-drop a{
        display: block;
        padding: 10px 20px;
        color: #fff;
    }

    .query-drop .query-type:hover {
        background-color: #eee;
        color: #000;
    }

    .query-drop a .fas.fa-chevron-down{
        font-size: 0.8em;
        color: #a3a3a3;
        margin-left: 5px;
    }

    .query-drop .hover-drop:hover .query-drops{
        display: block;
    }

    .query-drop .query-drops{
        background-color: #e3e3e3;
        display: none;
    }

    .query-drop .query-drops a{
        padding-left:50px;
        padding-right: 20px;
        justify-content: space-between;
        display: flex;
        color: #000;
    }

    .query-drop .query-drops a:hover span{
        text-decoration: underline;
    }

    .query-drop .query-drops .hover-drops:hover .query-dropped{
        display: block;
    }

    .query-drop .query-drops .query-dropped{
        background-color: #ccc;
        display: none;
    }

    .query-drop .query-drops .query-dropped a{
        padding-left: 60px;
        padding-right: 40px;
        padding-top: 20px;
        padding-bottom: 10px;
        border-bottom: 0.8px solid #a3a3a3;
    }

    .query-drop .query-drops .query-dropped .query-edition{
        padding: 15px 50px;
        display: inline-block;
    }

    .query.contact{
        color: #a3a3a3;
    }

    .query.contact .fas{
        margin-right: 20px;
    }

    .query.contact:hover{
        text-decoration: underline;
        color: #fff;
    }

    .query-drop select{
        margin:10px 20px;
    }



    /* banner */
    .banner{
        font-size: 0.5em;
        overflow: hidden;
    }

    .banner.bnr-btm{
        font-size: 0.4em;
    }

    /* jumbotron nav */
    #jumbotron .jnav.top{
        display: none;
    }

    #jumbotron .jnav.btm{
        justify-content: space-between;
        padding: 0;
    }

    #jumbotron .jnav.btm .hamburger{
        margin-left: 20px;
    }

    #jumbotron .jnav.btm ul{
        display: none;
    }

    #jumbotron .jnav.btm .logo{
        padding: 15px;
    }

    #jumbotron .jnav.btm .logo img{
        vertical-align: middle;
        width: 50%;
    }

    #jumbotron .jnav.btm .hamburger{
        display: block;
    }

    /* jumbomain  */
    #jumbotron .jumbomain{
        flex-direction: column;
    }

    #jumbotron .jumbomain > div{
        width: 100%;
        background-image: url(../img/dragon.webp);
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
    }

    #jumbotron .jumbomain .jmain-info{
        padding: 30px 20px;

    }

    #jumbotron .jumbomain .jmain-img{
        display: none;
    }

    #jumbotron .overlay{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #000;
        display: block;
        filter: opacity(0.4);
    }

    #jumbotron .jinfo-try, #jumbotron .jinfo-plans, #jumbotron .jinfo-buy{
        position: relative;
    }

    #jumbotron .jinfo-try .try-btn{
        margin-bottom: 15px;
    }

    #jumbotron .jinfo-try .try-btn button{
        font-size: 0.9em;
    }

    #jumbotron .jinfo-plans .jplans-opt > a{
        color: #fff;
    }

    #jumbotron .jinfo-plans .jplans-btn button:nth-child(2){
        background-color: rgba(0,0,0,0.2);
        color: white;
    }

    /* header */
    header{
        overflow: visible;
        padding: 0;
        font-size: 0.8em;
        position: relative;
    }

    header nav{
        display: none;
    }

    header button{
        display: none;
    }

    header #header-media{
        display: block;
    }

    header #header-media > a{
        padding: 20px;
        display: inline-block;
        width: 100%;
    }

    header #header-media:hover .media-dropdown{
        display: block;
    }

    header #header-media .media-dropdown{
        position: absolute;
        width: 100%;
        background-color: #e6e6e6;
        display: none;
    }

    header #header-media .media-dropdown ul li{
        list-style-type: none;
        padding: 15px;
    }

    header #header-media .media-dropdown ul li:hover{
        background-color: white;
    }

    /* main astronaut */
    main #astronaut .astronaut-txt{
        padding: 30px 0px;
        width: 95%;
    }

    main #astronaut .astronaut-txt .boh{
        display: none;
    }

    main #astronaut .astronaut-txt h2{
        font-size: 1.5em;
        font-weight: 600;
    }

    main #astronaut .astronaut-txt p{
        font-size: 1em;
        font-weight: 600;
    }

    main .astronaut-img .far.fa-play-circle{
        font-size: 5em;
        transition: all 0.5s;
    }

    main .astronaut-img .far.fa-play-circle:hover{
        font-size: 6em;
    }

    /* main first */
    main #first{
        padding: 20px;
    }

    main #first .section-container{
        flex-direction: column;
        width: 100%;
    }

    main #first .section-container > div{
        flex-direction: row;
        gap: 60px;
        width: 100%;
    }

    main #first .section-container > div > img{
        width: 15%;
    }

    main #first .section-container > div > h3{
        display: none;
    }

    main #first .section-container > div > p{
        width: 70%;
        font-size: 1em;
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    main #first .section-container > div > p::before{
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 20px;
    }

    main #first .section-container .project p::before{
        content: "Progetta";
    }

    main #first .section-container .collab p::before{
        content: "Collabora";
    }

    main #first .section-container .done p::before{
        content: "Fatto";
    }

    /* main second */
    main #second{
        padding: 30px 10px 5px;
    }
    main #second .section-container{
        width: 95%;
        margin: auto;
    }

    main #second h2{
        padding: 0;
        font-size: 1.5em;
        font-weight: 400;
    }

    main #second .row-tool{
        display: none;
    }

    main #second .section-container > p{
        display: none;
    }

    main #second .second-img{
        border: none;
    }

    main #second .second-img img{
        width: 100%;
        height: 80%;
        transform: scale(1);
    }

    main #second .second-img.mg-btm-50{
        display: none;
    }

    main #second .second-media-row{
        padding: 30px 0px 10px;
        display: block;
    }

    main #second .second-media-row li{
        list-style-type: none;
    }

    main #second .second-media-row li a{
        align-items: flex-start;
    }

    main #second .second-media-row li a:hover span{
        text-decoration: underline;
    }

    main #second .second-media-row .media-img{
        align-items: center;
    }

    main #second .second-media-row .media-img img{
        width: 40px;
        height: 40px;
    }

    main #second .second-media-row .media-img span{
        margin-left: 20px;
    }

    main #second .second-media-row li p{
        text-align: left;
        padding: 20px 0px;
    }

    /* main third */
    main #third .section-container{
        background-image: none;
        padding: 0;
    }

    main #third .media-third-img{
        display: flex;
        justify-content: right;
    }

    main #third .media-third-img img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    main #third .third-txt{
        width: 100%;
        padding: 20px 10px;
    }

    main #third .third-txt h3{
        font-size: 2em;
    }

    main #third .third-txt p{
        padding: 0;
    }

    main #third .third-txt div::before{
        margin-bottom: 10px;
    }

    main #third .third-txt h4{
        font-size: 0.9em;
        font-weight: 600;
    }

    /* main fourth */
    main #fourth .section-container, main #six .section-container{
        width: 100%;
    }

    main #fourth  .fourth-txt h4, main #six .six-txt h4{
        font-size: 1.5em;
        font-weight: 600;
        margin-bottom: 15px;
    }

    main #fourth .fourth-row .fourth-img, main #six .six-row .six-img{
        width: 50%;
    }

    /* main fifth */
    main #fifth .section-container{
        width: 100%;
        padding: 80px 0px;
    }

    main #fifth h3{
        font-size: 1.2em;
    }

    main #fifth span{
        font-size: 0.9em;
    }

    /* main six */
    main #six .six-img img{
        width: 20%;
    }
}