*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* generali */
a{
    text-decoration: none;
}

.fl-left{
    float: left;
}

.fl-right{
    float: right;
}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}

.divide{
    width: 40%;
    border: 1px solid #a3a3a3;
}

.flex-row{
    display:flex;
    flex-direction: row;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

/* colors */
.cl-a3{
    color: #a3a3a3;
}

.cl-bk{
    color: #000;
}

.cl-wh{
    color: #fff;
}

.cl-cy{
    color: #039CFF;
}
/* margins */
.mg-btm-50{
    margin-bottom: 50px;
}

.mg-btm-20{
    margin-bottom: 20px;
}

.mg-btm-10{
    margin-bottom: 10px;
}

/* symbols */
.arrowhead{
    font-size: 1.2em;
    color: #a3a3a3;
}
/* banner */
.banner{
    background-color: #94122e;
    text-align: center;
    font-size: 0.8em;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    height: 50px;
    line-height: 50px;
}

.banner span{
    text-decoration: underline;
    color: #ffd580;
}

/* jumbotron */
#jumbotron{
    width: 100%;
    height: calc(100vh - 50px);
}

    /* jumbo nav */
#jumbotron .jumbo-nav{
    height: 100px;
    width: 100%;
    background-color: #000;
}

#jumbotron .jumbo-nav .j-nav{
    height: 50%;
    width: 85%;
    margin: auto;
}

    /* jumbo nav top */
#jumbotron .jumbo-nav .j-nav.top ul{
    list-style-type: none;
    font-size: 0.8em;
    justify-content: flex-end;
    padding: 10px;
}

#jumbotron .jumbo-nav .j-nav.top .fas{
    margin-right: 10px;
    color: #00f;
}

#jumbotron .jumbo-nav .j-nav.top ul li a{
    text-decoration: none;
    color: #a3a3a3;
    margin: 10px;
}

    /* jumbo nav bottom */
#jumbotron .jumbo-nav .j-nav.btm ul{
    list-style-type: none;
    align-items: flex-end;  
    height: 100%;  
}

#jumbotron .jumbo-nav .j-nav.btm ul li a{
    text-decoration: none;
    color: #fff;
    margin: 0px 20px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 0.8em;
}

#jumbotron .jumbo-nav .j-nav.btm img{
    width: 80%;
}

#jumbotron .jumbo-nav .dropdown{
    background-color: #fff;
    position: absolute;
    width: 200px;
    min-width: 200px;  
    display: none;  
}

#jumbotron .jumbo-nav .dropdown li{
    padding: 10px 0px;
}

#jumbotron .jumbo-nav .dropdown li a{
    color: #000;
}

#jumbotron .jumbo-nav .dropright{
    background-color: #fff;
    width: 400px;
    position: absolute;
    left: 200px;
    top: 0px;
    display: none;
}

.dropright-ed{
    margin: 0px 35px;
}

    /* jumbomain */
#jumbotron .jumbomain{
    background-color: #0D0B25;
    width: 100%;
    height: calc(100% - 100px);
}

#jumbotron .jumbomain > div{
    width: 50%;
    height: 100%;
    float: left;
    border: 1px solid white;
}

    /* jumbomain img */
#jumbotron .jumbomain .jmain-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

    /* jumbomain info try */
#jumbotron .jumbomain .jinfo-try{
    border-bottom: 1px solid #a3a3a3;
}

#jumbotron .jmain-info .jinfo-try .try-btn{
    align-items: center;
    gap: 20px;
}

#jumbotron .jmain-info .jinfo-try .try-btn img{
    width: 10%;
    height: 10%;
}

    /* jumbomain info plans */
#jumbotron .jinfo-plans .jplans-btn button{
    width: calc(100% / 2 - 5px);
    padding: 20px;
    height: 100px;
    display: inline-block;
    border: 2px solid #a3a3a3;
    border-radius: 5px;
    background-color: transparent; 
    cursor: pointer;   
}

    /* jumbomain info buy */
#jumbotron .jinfo-buy > div{
    width: 50%;
}    